
<%- include("header") -%>

<div class="box" id="heading">
    <h1>
        About Us
    </h1>
</div>

<div class="box" style="padding: 50px; font-size: 1.5rem;">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati iusto inventore voluptatem natus dicta. Illo nisi, eos, aliquid officia cumque pariatur tempore inventore quis, deleniti voluptates molestias non dicta! Iste quod, odit necessitatibus similique minus fuga soluta est non excepturi delectus, explicabo, repudiandae cupiditate alias quaerat vitae. Delectus, distinctio corporis.
</div>

<%- include("footer") -%>